name: Node.js Package

on:
  release:
    types: [created]  # 仅在发布创建时触发
  push:
    branches:
      - master  # 当有推送到 master 分支时触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  # 拉取代码
      - uses: actions/setup-node@v4  # 设置 Node.js 环境
        with:
          node-version: '20'  # 使用 Node.js 版本 20
      - run: npm install  # 安装依赖
      - run: npm test  # 运行测试

  publish-npm:
    needs: build  # 在 build 作业完成后执行
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  # 拉取代码
      - uses: actions/setup-node@v4  # 设置 Node.js 环境
        with:
          node-version: '20'  # 使用 Node.js 版本 20
          registry-url: 'https://registry.npmjs.org/'  # 设置 npm 仓库地址
      - run: npm install  # 安装依赖
      - run: npm publish  # 发布 npm 包
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}  # 使用 GitHub Secrets 中的 npm token 进行认证
